html {
    box-sizing: border-box;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(189,238,174,1) 24%, rgba(148,218,233,1) 100%);
}

section {
    width: 100%;
    border-bottom: 2px solid rgb(0, 225, 255);
    border-top: 2px solid rgb(0, 225, 255);
    padding-top: 10px;
    padding-bottom: 6px;
    box-shadow: 0px 3px 10px 0px rgb(0, 174, 255);
    border-radius: 6px;
}

section img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

section div {
    display: inline-block;
    font-family: 'Itim', cursive;;
    font-size: 22px;
    padding-left: 10px;
    position: absolute;
    top: 32px;
}

input, select {
    border: hidden;
    background-color: lightcyan;
    border-radius: 4px;
}



