html {
    box-sizing: border-box;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(189,238,174,1) 24%, rgba(148,218,233,1) 100%);
    font-family:  'Itim', cursive;
    color: blue;
}

.super-header {
    width: 100%;
    border-bottom: 2px solid rgb(0, 225, 255);
    border-top: 2px solid rgb(0, 225, 255);
    padding-top: 10px;
    padding-bottom: 6px;
    box-shadow: 0px 3px 10px 0px rgb(0, 174, 255);
    border-radius: 6px;
  }
  
  .super-header img {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
  }
  
  .super-header div {
    display: inline-block;
    font-size: 22px;
    padding-left: 10px;
    position: absolute;
    top: 32px;
  }
  
  .super-header .logo-text {
    color: black;
  }
  
  .super-header .contacts {
    display: inline-block;
    position: absolute;
    right: 20px;
  }
  
  .super-header .contacts li {
    display: inline-block;
    padding-left: 10px;
  }
  
  .super-header .contacts a {
    color: #3700ff;
  }
  
  .super-header .contact li:hover {
    cursor: pointer;
    color: black;
    text-shadow: 3px 0px 10px #3700ff;
  }

section {
    border: 1px solid rgb(111, 149, 192);
    border-radius: 18px;
    width: 40vw;
    height: auto;
    /* margin-top: 20vh;
    margin-left: 35vw; */
    vertical-align: middle;
    margin: 10% auto ;
    box-shadow: 0px 0px 15px 7px rgb(0, 89, 255);
}

h1 {
    font-family:  'Itim', cursive;
    color: blue;
    font-size: 3rem;
    margin-top: 10% 0;
    padding: 1% 5%;
    text-align: center;
    text-shadow: 3px 0px 10px #00b7ff;
}

p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 5%;
    font-family: 'Itim', cursive;
    color: blue;
    text-shadow: 3px 0px 10px #00b7ff;
    letter-spacing: 1px;
}
.btn {
    font-family: 'Itim', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    animation-duration: 04.s;
    background-color: rgb(189, 210, 235);
    color: white;
    border-radius: 50px;
    padding: 2% 8%;
    cursor: pointer;
    border: hidden;
    text-decoration: none;
    text-align: center;
    color: blue;
    box-shadow: 0px 0px 15px 5px darkblue;
    text-shadow: 1px 0px 5px #00b7ff;
}
.btn:hover{
    color: black;
    background-color: aqua;
}

.all-rights-reserved {
    text-align: left;
    font-family: 'Itim', cursive; 
    color: rgb(0, 162, 255);
    margin: 0px;
    padding: 0px;
    text-shadow: none;
    font-size: 1rem;
    
}