html {
  box-sizing: border-box;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(189, 238, 174, 1) 24%,
    rgba(148, 218, 233, 1) 100%
  );
  font-family: "Itim", cursive;
  color: blue;
}

.super-header {
  width: 100%;
  border-bottom: 2px solid rgb(0, 225, 255);
  border-top: 2px solid rgb(0, 225, 255);
  padding-top: 10px;
  padding-bottom: 6px;
  box-shadow: 0px 3px 10px 0px rgb(0, 174, 255);
  border-radius: 6px;
}

.super-header img {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.super-header div {
  display: inline-block;
  font-size: 22px;
  padding-left: 10px;
  position: absolute;
  top: 32px;
}

.super-header .logo-text {
  color: black;
}

.super-header .contacts {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.super-header .contacts li {
  display: inline-block;
  padding-left: 10px;
}

.super-header .contacts a {
  color: #3700ff;
}

.super-header .contact li:hover {
  cursor: pointer;
  color: black;
  text-shadow: 3px 0px 10px #3700ff;
}

.photo {
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

img {
  border-radius: 8px;
}

section {
  width: 50vw;
  padding-top: 10px;
  padding-bottom: 6px;
  margin: 5% auto;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgb(0, 174, 255);
  border-radius: 6px;
}

/* section img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

section div {
  display: inline-block;
  font-family: "Itim", cursive;
  font-size: 22px;
  padding-left: 10px;
  position: absolute;
  top: 32px;
} */

.events {
  width: 100%;
}

.events label {
  width: 30%;
}

.button {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1% 2%;
  border-radius: 50px;
  border: hidden;
  font-family: "Itim", cursive;
  color: blue;
  background-color: lightcyan;
  box-shadow: 0px 0px 15px 5px rgb(122, 191, 255);
  text-shadow: 1px 0px 5px #00b7ff;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover{
    color: black;
  text-shadow: 3px 0px 10px #3700ff;
}

input,
select {
  border: hidden;
  background-color: lightcyan;
  border-radius: 4px;
}

footer {
  color: rgb(0, 162, 255);
}

@media (max-width: 600px) {
  
  .super-header .contacts a {
    font-size: 0.5rem;
  }

  footer {
    font-size: 0.5rem;
  }
}
